* {
  border: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.orange-color {
  color: #ffad5a;
}
#red {
  color: #ff5959;
}

.link-button {
  background-color: #ff5959;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
}

/* Global CSS */
section {
  margin-bottom: 100px;
  padding: 4%;
}

/* 1st section*/
.top-part {
  display: flex;
  align-items: center;
  justify-items: space-around;
  padding: 2%;
}
.vertical-line {
  border-left: 6px solid #ff5959;
  border-radius: 5px;
  height: 100px;
  padding-bottom: 40px;
}
h1 {
  font-size: 50px;
}
p {
  color: gray;
  text-align: justify;
}
.top-part .right-side img {
  width: 80%;
}
button {
  margin: 10px auto;
}

/* 2nd section */
.mission {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.mission img {
  width: 80%;
}
.first-card {
  background-color: #dee2e2;
  padding: 5%;
}
.second-card {
  background-color: #ffeeee;
  padding: 5%;
}
.third-card {
  background-color: #fff4d6;
  padding: 5%;
}

/* third section */
.third-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.third-section img {
  width: 60%;
  height: 80%;
  border-radius: 20px;
}

/* fourth section */
.fourth-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
}
.link-gap {
  margin-top: 2%;
}
.group-pic {
  width: 80%;
}
.group-pic img {
  width: 100%;
  border-radius: 20px;
}

.fifth-section {
  display: flex;
  gap: 5%;
}
.text-center {
  text-align: center;
  margin-bottom: 5%;
  color: #ff5959;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0%;
  margin-bottom: 0px;
}







/* responsive */
@media screen and (max-width: 571px) {
  .top-part {
    flex-direction: column;
    gap: 2%;
  }
  .top-part .left-side {
    order: 1;
  }
  .top-part .right-side {
    order: 0;
  }
  .vertical-line {
    height: 30px;
  }
  h1 {
    font-size: 20px;
  }
  .right-side {
    margin-left: 15%;
  }

  .mission {
    grid-template-columns: repeat(1, 1fr);
  }

  .third-section {
    flex-direction: column;
    gap: 10%;
  }
  .third-section img {
    width: 80%;
  }
  .image {
    padding-left: 10%;

  }

  .fourth-section{
    flex-direction: column;
  }

  .group-pic {
    width: 80%;
  }

  .fifth-section {
    flex-direction: column;
  }
}
